extends layout

block content
  main.container
    .row
      .col.s3.center-align(style="padding: 40px;")
        img(src="/img/logo.png")
      h1.col.s9 Formulaire d'inscription
        br
        | pour Pic 2018
    p.right *de preference, utilise firefox ou chrome
    element.center-align#message

    .row#bg-white
      form.col.s12.m8.offset-m2#payment-form(action='/payement',method='post')
        .row.center-align
          img(src="/img/eclair.png")

        // part 1
        #form_part1.form-section
          h5
            i.material-icons.prefix import_contacts
            |  Pour te contacter
          .row
            .input-field.col.s12.m6
              i.material-icons.prefix account_circle
              input.validate(type="text" name='prenom' required)
              label(for="prenom") Prénom
            .input-field.col.s12.m6
              input.validate(type="text" name='nom' required)
              label(for="nom") Nom
          .row
            .input-field.col.s12.m6
              i.material-icons.prefix mail_outline
              input.validate(type="email" name='mail' required)
              label(for="mail") Email
            .input-field.col.s12.m6
              i.material-icons.prefix phone
              input.validate(type="tel" name="telephone")
              label(for="telephone") Téléphone
          .row
            p.col.s12 Es-tu déjà venu à PIC ?
            .switch.col.s12
              label
                | Non
                input#dejaVenu(type="checkbox" name="dejaVenu" value="true")
                span.lever
                | Oui
          .row#venu
            .col.s3
              input.filled-in#dejaVenu2012(type="checkbox" name="dejaVenu2012" value="true")
              label(for="dejaVenu2012") Avant 2014
            .col.s3
              input.filled-in#dejaVenu2014(type="checkbox" name="dejaVenu2014" value="true")
              label(for="dejaVenu2014") Au festival 2014
            .col.s3
              input.filled-in#dejaVenu2015(type="checkbox" name="dejaVenu2015" value="true")
              label(for="dejaVenu2015") Au festival 2015
            .col.s3
              input.filled-in#dejaVenu2017(type="checkbox" name="dejaVenu2017" value="true")
              label(for="dejaVenu2017") Au festival 2017
          .row
            p.col.s12 Ici le mail de la personne qui t'invite:
            .input-field.col.s12
              i.material-icons.prefix accessibility
              input#organisateur.validate(type="email" name="organisateur" required)
              label(for="organisateur") Email de ton ami-e
          input#verifMail(type="hidden")
          p.col.s12.pink-text#quota-message
          input#quota(type="hidden" value= quota)
          input#totalPart(type="hidden" value= totalPart)

        // part 2
        #form_part2.form-section
          h5
            i.material-icons.prefix restaurant_menu
            |  Nombre de repas
            small  entre le 7 et le 11 août
          .row
            .col.s12
              .card-panel.pink
                span.white-text sélectionne tes jours d'arrivée et de départ ici :
          #calendrier
            .row.center-align
              .col.s2 Mardi
              .col.s2 Mercredi
              .col.s2 Jeudi
              .col.s2 Vendredi
              .col.s2 Samedi
              .col.s2 Dimanche
            .row
              .col.s2
                .vide.grey.lighten-2
              .col.s2
                .vide.pink.repas2(onclick="calTab([1, null]);")
              .col.s2
                .vide.pink.repas4(onclick="calTab([3, null]);")
              .col.s2
                .vide.pink.repas6(onclick="calTab([5, null]);")
              .col.s2
                .vide.pink.repas8(onclick="calTab([null, 8]);")
              .col.s2
                .vide.grey.lighten-2
            .row
              .col.s2
                .vide.pink.repas1(onclick="calTab([0, null]);")
              .col.s2
                .vide.pink.repas3(onclick="calTab([2, null]);")
              .col.s2
                .vide.pink.repas5(onclick="calTab([4, null]);")
              .col.s2
                .vide.pink.repas7(onclick="calTab([null, 7]);")
              .col.s2
                .vide.pink.repas9(onclick="calTab([null, 9]);")
              .col.s2
                .vide.grey.lighten-2
            br
            label Tu peux cliquer sur le calendrier ou bouger les curseurs de la barre ci-dessous.
            br
            #dates.noUi-target.noUi-ltr.noUi-horizontal.noUi-background(min="0" max="9")
            input#dates-arrivee(type="hidden" name="datesArrivee" value="Mardi aprem")
            input#dates-depart(type="hidden" name="datesDepart" value="Samedi soir")
            input#dates-repas(type="hidden" name="datesRepas" value="9")
            br
            .chip#info-arrivee
            .chip#info-depart
            .chip#info-repas
            .chip#info-prix
            br
            p.col.s12 Est-ce que tu as des préférences alimentaires:
            .input-field.col.s3
              input.filled-in#bienManger(type="checkbox" checked="checked" disabled="disabled")
              label(for='bienManger') Bien manger
            .input-field.col.s3
              input.filled-in#sansGluten(type="checkbox" name="sansGluten" value="true")
              label(for='sansGluten') Sans gluten
            .input-field.col.s3
              input.filled-in#sansPorc(type="checkbox" name="sansPorc" value="true")
              label(for='sansPorc') Sans porc
            .input-field.col.s3
              input.filled-in#sansViande(type="checkbox" name="sansViande" value="true")
              label(for='sansViande') Végétarien

        // part 3
        #form_part3.form-section
          h5
            i.material-icons.prefix build
            |  Compétences
            small  pour aider à faire le festival
          .row
            .input-field.col.s12
              input.filled-in#medicale(type="checkbox" name="medicale" value="true")
              label(for="medicale") As-tu des compétences médicales ? (formation d'infirmiers, médecins…)
          .row
            p.col.s12 Quelles compétences as-tu ? On a besoin de plein de trucs :
            .input-field.col.s4
              input.filled-in#electricite(type="checkbox" name="electricite" value="true")
              label(for='electricite') Électricité
            .input-field.col.s4
              input.filled-in#plomberie(type="checkbox" nmae="plomberie" value="true")
              label(for='plomberie') Plomberie
            .input-field.col.s4
              input.filled-in#restauration(type="checkbox" name="restauration" value="true")
              label(for='restauration') Restauration
            .input-field.col.s8
              input.filled-in#futs(type="checkbox" name="futs" value="true")
              label(for='futs') Gestion des fûts du bar et softs
            .input-field.col.s4
              input.filled-in#travaux(type="checkbox" name="travaux" value="true")
              label(for='travaux') Bricolage
            .input-field.col.s8
              input.filled-in#techspectacle(type="checkbox" name="techspectacle" value="true")
              label(for='techspectacle') Technicien du spectacle
            .input-field.col.s8
              input.filled-in#garderie(type="checkbox" name="garderie" value="true")
              label(for='garderie') Activité pour enfants
          br
          h5
            i.material-icons.prefix local_bar
            |  Participation
            small  de tous
          .row
            .input-field.col.s12
              input.filled-in#taches(type="checkbox" checked="checked" disabled="disabled")
              label(for='taches') Je participe aux tâches collectives
            .input-field.col.s12
              input.filled-in.type-participation#concert(type="checkbox" name="concert" value="true")
              label(for='concert') Je propose un concert
            .input-field.col.s12
              input.filled-in.type-participation#spectacle(type="checkbox" name="spectacle" value="true")
              label(for='spectacle') Je propose un spectacle
            .input-field.col.s12
              input.filled-in.type-participation#numero(type="checkbox" name="numero" value="true")
              label(for='numero') Je propose un numero (pour la scène ouverte)
            .input-field.col.s12
              input.filled-in.type-participation#atelier(type="checkbox" name="atelier" value="true")
              label(for='atelier') Je propose un atelier
            .input-field.col.s12
              input.filled-in.type-participation#activite(type="checkbox" name="activite" value="true")
              label(for='activite') Je propose une autre activité
          .row#details-participation
            .input-field.col.s12
              i.material-icons.prefix palette
              input(type="text" placeholder="Titre de la proposition" name="titre")
            .col.s12
              textarea.materialize-textarea(placeholder="Description en quelques mots" name="description")
          .row
            .input-field.col.s12
              input.filled-in#charte(type="checkbox" name="charte" value="true" required)
              label(for='charte') J'accepte de respecter la #[a.modal-trigger(href="#modal-charte") charte] et j'adhère à l'association ASS' 2 PIC
          #modal-charte.modal.modal-fixed-footer
            .modal-content
              h4 La charte de Pic
              h5.center RAISON D’ÊTRE
              .row
                p.col.s10.offset-s1 S’offrir le plaisir de partager une aventure ensemble durant quelques jours d’été en mettant en commun ce(ux) qu’on aime.
              h5.center CHARTE
              .row
                p.col.s12.m4
                  b Pic est une aventure:
                  | Un lieu, un temps, et l’acte de moquer et célébrer le temps qui passe au travers d’une grande fête de copains estivale.
                p.col.s12.m4
                  b Pic est une joyeuse bande ouverte à tous:
                  | D’ici et d’ailleurs, d’avant et de bientôt, qui ne connaît ni âge minimum ni âge limite, Pic est simplement le reflet de tous ceux qui souhaitent y prendre part.
                p.col.s12.m4
                  b Pic est participatif:
                  | C’est un endroit où tout le monde ferait tout, et personne ne ferait rien, que les autres ne feraient pas. Pas de distinction entre organisateurs et participants chacun y est tour à tour acteur et spectateur.
                p.col.s12.m4
                  b Pic est une page blanche à écrire:
                  | C’est parce que chacun vient avec ses propres idées et envies que cette aventure existe ! À Pic, on donne, on reçoit, on partage au sein d’un grand terrain de jeu verdoyant.
                p.col.s12.m4
                  b Pic c’est faire au mieux avec les moyens du bord:
                  | Chaque année nous prouvons qu’avec peu de moyens et beaucoup de joie il est possible de créer un événement de grande qualité pour le plaisir de tous !
                p.col.s12.m4
                  b Pic est non lucratif:
                  | Aucun bénéfice n’est réalisé et lorsque - ôh miracle - la caisse n’est pas vide à la fin de l’aventure, elle est réutilisée l’année suivante. Aucune activité lucrative n’est donc possible sur place.
                p.col.s12
                  b À Pic tu es responsable:
                  | De toi et de tes actes bien sûr, mais surtout des autres. On demande à ceux qui se sont fait manger leur sac de couchage par un ours si on peut les aider, on désamorce les combats de coqs et on se partage toutes les responsabilités à tous moments.
              h5.center REGLEMENT INTERIEUR
              .row
                .col.s10.offset-s1
                  p
                    small Toute personne qui arrive sur le site, habitué ou grand débutant, et toute personne qui part prématurément doit se signaler auprès de l’accueil.
                  p
                    small Participer, c’est s’engager.. et donc prendre les responsabilités qui incombent à chaque tâche.
                  p
                    small Tout le monde paie ses consommations, pas de privilèges! Les verres du bar sont consignés, la consigne peut être rendue jusqu’à la fin du festival si le verre n’a pas été détérioré.
                  p
                    small Ne sont habilitées à vendre des PIC’sous que les personnes désignées à l’accueil.
                  p
                    small Chaque participant amène une assiette et des couverts (fourchette, couteau, cuillère) et qui resteront acquis.
                  p
                    small PIC possède une monnaie locale le PIC’SOUS qui ne sert de monnaie d’échange qu’au bar. Toute vente est par ailleurs interdite.
                  p
                    small Ne peuvent être derrière le bar que les personnes prévues dans le planning.
                  p
                    small Ne pas intervenir sur les dispositifs dangereux (groupes électrogènes, électricité, gaz, outils, essence…) ou fragiles (tireuse, scène…) s’ils ne sont pas sous votre responsabilité.
                  p
                    small Respecter les zones de parking distinctes des zones d’hébergement. Ne stationner que sur les zones prévues à cet effet.
                  p
                    small Pour manger à la cantine de Pic, il faut donner son ticket ! (et respecter les heures de repas proposées).
                  p
                    small Ne pas hésiter à s’informer sur les activités proposées dans la programmation.
                  p
                    small La techno-base permettant de faire la fête jusqu’au bout de la nuit et dans le cadre des activités proposées dans la programmation, le volume sonore sur les lieux de couchage doit rester limité afin de respecter le sommeil des participants.
                  p
                    small Respecter les zones et les règles de tri de déchets sur le site (merci de jeter vos mégots dans les poubelles de déchets ménagers).
                  p
                    small Laisser les lieux propres après votre passage (toilettes, espaces nuit, espaces communs, tables) et éviter toute dégradation des installations.
                  p
                    small Etre autonome sur la gestion de son hébergement (tente, camion…).
                  p
                    small Ne pas introduire d’arme sur le site.
                  p
                    small Toute vente et consommation de drogues est interdite dans l’enceinte de Pic.
                  p
                    small Les animaux sont autorisés sous la responsabilité de leur propriétaire et leurs adorables déjections doivent être ramassées. Ils ne sont pas les bienvenus dans les espaces intérieurs (cuisine, maisons…).
                  p
                    small Les enfants - mineurs restent sous la responsabilité de leurs parents/responsables légaux et doivent rester sous leur surveillance.
                  p
                    small Toute activité non proposée dans le cadre des évènements de l’association engage la seule responsabilité de ceux-celles qui l’entreprennent.
                  p
                    small Respecter les zones de non accessibilité indiquées qui sont notifiées.
                  p
                    small Demander à leur propriétaire la permission d’utiliser les objets/outils présents sur le site.
                  p
                    small S’engager à participer aux différentes tâches selon les modalités proposées.
                  p
                    small Prendre soin de soi-même et des autres.
                  p
                    small Si vous proposez une activité qui n’était pas prévue initialement, se mettre en contact avec le pôle accueil de PIC.
            .modal-footer
              a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href="#!" onclick="document.getElementById('charte').checked = true;") Je suis d'accord

        // part 4
        #form_part4.form-section
          h5
            i.material-icons.prefix child_friendly
            |  Enfants
          .row
            p.col.s12 Les enfants de moins de 12 ans ne paient pas. Mais tu peux toujours ajouter quelques euros à la participation libre pour compenser :)
            .input-field.col.s12.m6
              i.material-icons.prefix child_care
              input.filled-in#enfants(type="checkbox" name="enfants" value="true")
              label(for='enfants') Je viens avec des enfants
            .input-field.col.s12.m6
              input#nbEnfants(type="number" name="nbEnfants")
              label(for="nbEnfants") Combien ?
          h5
            i.material-icons.prefix credit_card
            |  Paiement
          .row
            p.col.s12.m6 Participation libre pour adhérer à l'association (min 1€)
            .input-field.col.s12.m6
              i.material-icons.prefix euro_symbol
              input#adhesions(type="number" name="adhesions" min="1" onchange="updateTotal(this.value);" required)
              label(for="adhesions") Participation libre
          .row
            table.bordered.col.s12.m6.offset-m3
              tbody
                tr
                  td Frais festival
                    i.material-icons.tooltipped(data-position="right" data-tooltip="pour l'aménagement du site, les chiottes, les douches, les scènes et bien plus encore…") info
                  td 24,00 €
                tr
                  td Repas
                  td#prixRepas 0,00 €
                tr
                  td Adhésion (prix libre)
                  td#prixAdhesion 0,00 €
              tfoot
                tr
                  th Total
                  th#prixTotal 0,00 €
          .row
              .input-field.col.s12
                p Nous avons mis en place un fond de solidarité. Si c’est la crise pour toi, envoie-nous un mail à cette adresse bonjour@picfestival.com
                i.material-icons.prefix money_off
                input.filled-in#solidarite(type="checkbox" name="solidarite" value="true")
                label(for='solidarite') J'ai besoin du fond de solidarité
          .row.card-panel.pink.white-text
            span.col.s12.blue-text.payment-errors
            .input-field.col.s12
              i.material-icons.prefix credit_card
              input#card.cc-num(type="text" size="20" data-stripe="number")
              label.white-text(for="card") Numero de carte de crédit
            .input-field.col.s6.m3
              i.material-icons.prefix receipt
              input#month(type="text" size="2" data-stripe="exp_month")
              label.white-text(for="month") Mois (exp)
            .input-field.col.s6.m3
              input#year(type="text" size="2" data-stripe="exp_year")
              label.white-text(for="year") Année (exp)
            .input-field.col.s12.m6
              i.material-icons.prefix fiber_pin
              input#cvc(type="text" size="4" data-stripe="cvc")
              label.white-text(for="cvc") Code de securité (derrière la carte)
            p.col.s12 *on ne garde pas tes informations bancaires après le paiement.
          .row
            .col.s12
              input.filled-in#sans-cb(type="checkbox" name="sans-cb" value="true")
              label(for="sans-cb") Je n'ai pas de carte de crédit (je ne peux pas payer en ligne)
              small Les frais de festival seront majorés de 20% !!
            p.col.s12#sans-cb-link
              button.waves-effect.waves-teal.btn-flat.btn-large(type="button" onclick="FormInMail();") Envoie nous ton formulaire par mail en cliquant ici !
          .row
            p.col.s12
              small Si finalement tu ne pouvais pas venir à Pic (et avec un bon motif exclusivement) et que tu nous préviens avant le 1er juillet les frais du festival et les repas pourront t’être remboursés (la cotisation non, on la garde). Après le 1er juillet par contre, on ne pourra plus te rembourser, car une grande partie des frais seront déjà engagés.
        .row.form-navigation
          button.next.right.btn.waves-effect.waves-light.btn-large.pink.darken-1(type="button")
            | Continuer
            i.material-icons.right keyboard_arrow_right
          button.right.btn.waves-effect.waves-light.btn-large.pink.darken-1(type="submit" value="Valider")
            |  Payer
            i.material-icons.right send
          button.previous.right.btn.waves-effect.waves-light.btn-large.pink.darken-1(type="button")
            i.material-icons.left keyboard_arrow_left
            | Revenir
        .row
          strong.right ON #[i.material-icons favorite] PIC !
block script
  script(src="/js/vendor.js")
  script(src="https://js.stripe.com/v2/")
  script(src="/js/main.js")
  script.
    calendar();
    $( document ).ready(function() {
      $('.modal').modal();
      $('#details-participation').hide();
      $('#form_part1 #venu').hide();
      $('#form_part4 #sans-cb-link').hide();
      $("#organisateur").bind("paste cut keydown",function(e) {
        var that = this;
        setTimeout(function() {
          verifMail(that.value);
        },200);
      });
      $('.tooltipped').tooltip({delay: 50});
    });
    $('#form_part3 .type-participation').click(function() {
      if( $('#form_part3 .type-participation').is(':checked')) {
          $("#details-participation").fadeIn('slow');
      } else {
          $("#details-participation").hide();
      }
    });
    $('#form_part1 #dejaVenu').click(function() {
      if( $('#form_part1 #dejaVenu').is(':checked')) {
          $("#form_part1 #venu").fadeIn('slow');
      } else {
          $("#form_part1 #venu").hide();
      }
    });
    $('#form_part4 #sans-cb').click(function() {
      if( $('#form_part4 #sans-cb').is(':checked')) {
          $("#form_part4 #sans-cb-link").fadeIn('slow');
      } else {
          $("#form_part4 #sans-cb-link").hide();
      }
    });
    updateTotal(0);
