doctype html
html(class="no-js" lang="fr")
  head
    meta(charset="utf-8")
    meta(name="description" content="Formulaire d'inscription pour le festival PIC organisé par l'association Ass2pic !")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title pic 2018 | inscription
    meta(property="og:image" content="https://inscription.picfestival.com/img/motif.png")
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/css/materialize.min.css')
    link(rel='stylesheet', href='/css/nouislider.css')
    link(rel='stylesheet', href='/css/style.css')
  | <!--[if lt IE 10]>
  | <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  | <![endif]-->
  body#top
    block content
    block script
